* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;

      font-family: 'Inter', sans-serif;
}

body {
      height: 100vh;

      background: rgb(228, 228, 228);

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
}

/* MODAL */
#modal {
      width: 300px;
      position: fixed;
      /* display: none; */
      top: 0;
      left: -500px;
      margin: 20px 0 0 20px;
      padding: 1rem;

      /* background: #fff; */
      box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

      transition: all 0.3s ease;
}

#modal.active {
      display: block;
      left: 0;
}

.success {
      background: rgb(58, 138, 62);
      color: #fff;
}

.error {
      background: rgb(151, 26, 26);
      color: #fff;
}

.modal__header {
      width: 100%;
      margin-bottom: 15px;
      
      display: flex;
      align-items: center;
      justify-content: space-between;
}






#input-date {
      box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

#countdown {
      display: inline;
      margin: 20px 0;
      padding: 1rem;
      border-radius: 50%;

      
      text-align: center;
      font-size: 20px;
      font-weight: 200;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
}

#countdown.is-active {
      width: 400px;
      height: 400px;

      background: rgb(255, 255, 255);
      box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.days {
      font-size: 70px;
}


.time {
      margin-top: 20px;
      margin-bottom: 20px;

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
}

.time-group {
      padding: 1rem;

      background: rgba(255, 255, 255, 0);

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
}

.time-group__title {
      
}












.group {
      margin-bottom: 20px;
}

.btn,
input {
      padding: 16px;
      border: none;
      outline: none;

      font-size: 16px;
}

.btn {
      background: rgb(255, 255, 255);
      box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

      font-weight: bold;
      cursor: pointer;
}