* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;

      font-family: 'Inter', sans-serif;
}

body {
      height: 100vh;

      background: #134E5E;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #71B280, #134E5E);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #71B280, #134E5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
}

#countdown {
      display: inline;
      padding: 1rem;
      border-radius: 4px;

      background: rgb(255, 255, 255);
      box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
      text-align: center;
      font-size: 70px;
      font-weight: bold;
}

span {
      padding: 1rem;    
}



.group {
      margin-bottom: 20px;
}

.btn,
input {
      padding: 16px;
      border: none;
      outline: none;

      font-size: 16px;
}

.btn {
      background: rgb(255, 255, 255);
      box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

      font-weight: bold;
      cursor: pointer;
}